body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
}

.card {
  width: 45%;
}

.left{
  float:left;
}

.right{
  float: right;
}


footer {
  text-align: right;
  color: midnightblue;
  clear: both;
}

.creative {
  color:midnightblue;
}

/* .card{
  display: inline-block;
  height: 200px;
} */
/* img{
  display: inline-block;
} */

/* @media () */

@media (max-width: 600px){
  .tile-image {
    width: 100%;
    clear:both;
    margin-right: 0px;
  }

  .card {
    width: 100%;
    clear:both;
  }

  .left{ 
    float:left;
    clear:both;
  } 
  .right{
    float: right;
  }
}
